@model EntityLayer.Concrete.Newsletter

<div class="col-sm-6 col-lg-3 p-b-50">
	<h4 class="stext-301 cl0 p-b-30">
		Bülten
	</h4>

	<form method="post" asp-action="Subscribe" asp-controller="Newsletter">
		<div class="wrap-input1 w-full p-b-4">
			<input class="input1 bg-none plh1 stext-107 cl7" type="text" asp-for="Email" placeholder="email@example.com">
			<div class="focus-input1 trans-04"></div>
		</div>

		<div class="p-t-18">
			<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
				Abone Ol
			</button>
		</div>
	</form>
</div>