@model List<EntityLayer.Concrete.Newsletter>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_adminLayout.cshtml";
}

<div class="container-fluid">
    <h5 class="card-title fw-semibold mb-4">Abone Olanlar</h5>
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">

                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Id</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">E-Posta</h6>
                                    </th>
                                    <th>
                                        <h6 class="fw-semibold mb-0">Sil</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.Id</h6></td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@item.Email</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a href="/Admin/Newsletter/DeleteNewsletter/@item.Id" class="btn btn-outline-danger">E-Postayı Sil</a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

