@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Areas/Admin/Views/_adminLayout.cshtml";
}

<div class="container-fluid">
    <h5 class="card-title fw-semibold mb-4">Kullanıcı Ekleme Sayfası</h5>
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <form asp-action="CreateUser" asp-area="Admin" asp-controller="User" method="post">
                        <label class="form-label">Kullanıcı Adı</label>
                        <input type="text" name="Username" class="form-control">
                        <br />
                        <label class="form-label">Şifre</label>
                        <input type="password" name="Password" class="form-control">
                        <br />
                        <button class="btn btn-info">Kullanıcıyı Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

