@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/_adminLayout.cshtml";
}

<div class="container-fluid">
    <h5 class="card-title fw-semibold mb-4">Kategori Güncelleme Sayfası</h5>
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <form asp-action="UpdateCategory" asp-area="Admin" asp-controller="Category" method="post">
                        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                        <label class="form-label">Kategori Adı</label>
                        <input type="text" name="Title" class="form-control" value="@Model.Title">
                        <br />
                        <button class="btn btn-info">Kategoriyi Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

